/* .container{
    margin: 2em 2em;
text-align: center;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: .5em;
} */
.texto{
    width: 100%;
    margin: 0 auto;
    height: 2em;
    font-size: 2em;
}

.error{
    margin: 0 auto;
    font-size: 12em;
    color: red;
}